<!DOCTYPE html>
  <head>
    	<title>Welcome to EnVENT</title>
	<link rel=stylesheet type="text/css" href="static/styleindex3.css?version=1" media="screen" >
  </head>


<body>
  <div id="holder">

	<div id="header">
		<a href="/uhome"> Home </a> |
		<a href="/usettings"> Account </a> |
		<a href="/friends"> Friends </a> |
	    <a href="/esearch"> Find Events </a> |
		<a href="/usearch"> Find Users </a> |
		<a href="/uticks"> My Tickets </a> |
		<a href="/logout"> Logout </a>
	</div>
	<div id="main"><br><br>
 	

	<a href="/uhome"><img class='img-reg' src='static/logo.png'></a>

	<div>

	   {% for n in lis %}
	   <div>{{n[0]}}</div>
	   <div> Host: {{n[1]}}</div>
	   <div> At: {{n[6]}}</div>
	   <div>{{n[3]}}, {{n[5]}} {{n[4]}}</div>
	   <div> When: {{n[7]}} at {{n[8]}}</div>
	   <div> Type: {{n[11]}}</div>
	   <div> <a href="/uhome"><img class='img-circle' src= {{n[9]}} ></a> </div>
	   <br>
	   {% endfor %}
	</div>
	<div>
	   {% for n in lis2 %}
	   <div>My Tickets: {{n[1]}}</div>
	   <div> Total Spent: {{n[2]}}</div>
	   <br>
	   {% endfor %}
	</div>
	<br>
	<h3><u>All tickets are to be picked up at the box office</u></h3>
	<br>
	<h4>Buy Tickets</h4>
	<br>
	<form action="/buying" method="post" id="main_form">
		{% if error %}
			<p class=error><strong>Error:</strong> {{ error }}
		{% endif %}
		<br>
		<div>Adult: ${{ap}} <input type = "text" name= "adprice" value="" maxlength="100" size="50" class="inputbox3" placeholder = "qty" /></div>
		<br><br>
		<div>Child: ${{ch}} <input type = "text" name= "chprice" value="" maxlength="100" size="50" class="inputbox3" placeholder = "qty" /></div>
		<br><br>
		<div>Student: ${{stu}} <input type = "text" name= "stprice" value="" maxlength="100" size="50" class="inputbox3" placeholder = "qty" /></div>
		<br><br>
		<div>Senior: ${{sr}} <input type = "text" name= "srprice" value="" maxlength="100" size="50" class="inputbox3" placeholder = "qty" /></div>
		<br>
		<input type="submit" value="Buy" class = "input_button">
	</form>
  </div>
  
</body>


</html>
