<!DOCTYPE html>
  <head>
    	<title>Welcome to EnVENT</title>
	<link rel=stylesheet type="text/css" href="static/styleindex.css?version=16" media="screen" >
  </head>


<body>
  <div id="holder">

	<div id="header">
		<a href="/hhome"> Home </a> |
		<a href="/hsettings"> Account </a> |
		<a href="/hhome"> Create Event </a> |
	        <a href="/esearch"> Find Events </a> |
		<a href="/logout"> Logout </a>
	</div>
	<div id="main"><br><br>

	
	<a href="/uhome"><img class='img-reg' src='static/logo.png'></a>

	<br><br>
	
	<h2> Edit event settings </h2> <br>

	<h3> Current settings: </h3>
	<h5> Name: {{name}} </h5>
	<h5> Time: {{time}} </h5>
	<h5> Date: {{date}} </h5>
	<h5> Ticket Qty: {{qty}} </h5>
	<h5> Location: {{loc}} </h5>
	<h5> Tags: {{tags}} </h5>
	<h5> Tickets Sold: {{at}} </h5>
	<h5> Prices: Adult-${{ap}} Child-${{ch}} Student-${{st}} Senior${{sr}}</h5>
	<h5> Going: {{going}} </h5>
	<h5> Photo:</h5>
	<div> <a href="/uhome"><img class='img-circle' src= {{photo}} ></a> </div>
	<br><br>

	<form action="/eec" method="post" id="main_form">
		{% if error %}
			<p class=error><strong>Error:</strong> {{ error }}
		{% endif %}
		<br>
		<input type = "text" name= "name" value="" maxlength="100" size="50" class="inputbox" placeholder = "Event Name" />
		<br><br>
		<input type = "text" name= "time" value="" maxlength="100" size="50" class="inputbox" placeholder = "Time (in format XX:XX:XX)" />
		<br><br>
		<input type = "text" name= "date" value="" maxlength="100" size="50" class="inputbox" placeholder = "Date (in format YYYY-MM-DD)" />
		<br><br>
		<input type = "text" name= "qty" value="" maxlength="100" size="50" class="inputbox" placeholder = "Number of tickets for event" />
		<br><br>
		<input type = "text" name= "photo" value="" maxlength="100" size="50" class="inputbox" placeholder = "Photo URL" />
		<h5> Tags: </h5>
			<div class="checkbox">
			{% for t in seltags %}
				<label><input type="checkbox" id={{t}} name={{t}} checked="checked" value="yes"}>{{t}}</label><br>
			{% endfor %}
			{% for t in useltags %}
				<label><input type="checkbox" id={{t}} name={{t}} value="no">{{t}}</label><br>
			{% endfor %}
			<br>
			<input type = "text" name= "ntag" value="" maxlength="100" size="50"
 class="inputbox" placeholder = "New Tag" />
			</div>
		<br>
		<div>
			<h5> Choose preset location or create new one </h5>
			<select name="drop">
					<option value=0>Select</option>
			{% for n in lis %}
				{% if n[3] %}
					<option value={{n[0]}}>{{n[1]}} {{n[3]}} {{n[2]}} {{n[5]}} {{n[4]}}, {{n[6]}} {{n[7]}}</option>
				{% endif %}
				{% if not n[3] %}
					<option value={{n[0]}}>{{n[1]}} {{n[2]}} {{n[5]}} {{n[4]}}, {{n[6]}} {{n[7]}}</option>
				{% endif %}
			{% endfor %}
			</select>
			<br><br>
		</div>
		<input type = "text" name= "lname" value="" maxlength="100" size="50" class="inputbox" placeholder = "Location Name" />
		<br><br>
		<input type = "text" name= "rname" value="" maxlength="100" size="50" class="inputbox" placeholder = "Room Name (optional)" />
		<br><br>
		<input type = "text" name= "bnum" value="" maxlength="100" size="50" class="inputbox" placeholder = "Building Number" />
		<br><br>
		<input type = "text" name= "st" value="" maxlength="100" size="50" class="inputbox" placeholder = "Street (include 'Street', 'Lane', etc)" />
		<br><br>
		<input type = "text" name= "city" value="" maxlength="100" size="50" class="inputbox" placeholder = "City" />
		<br><br>
		<input type = "text" name= "state" value="" maxlength="100" size="50" class="inputbox" placeholder = "State Abbreviation (VA, FL, etc)" />
		<br><br>
		<input type = "text" name= "zipc" value="" maxlength="100" size="50" class="inputbox" placeholder = "Zip Code" />

		<br><br>
				
		<input type="submit" value="Enter" class = "input_button">


	</form>

	<br><br>
	<form action="/delev" method="post" id="main_form">
		<input type="submit" value="Delete Event" class = "input_button">
	</form>
	
  </div>

</body>


</html>
