<!DOCTYPE html>
  <head>
    	<title>Welcome to EnVENT</title>
	<link rel=stylesheet type="text/css" href="static/styleindex2.css?version=1" media="screen" >
  </head>


<body>
  <div id="holder">

	<div id="header">
		<a href="/uhome"> Home </a> |
		<a href="/usettings"> Account </a> |
		<a href="/friends"> Friends </a> |
	    <a href="/esearch"> Find Events </a> |
		<a href="/usearch"> Find Users </a> |
		<a href="/uticks"> My Tickets </a> |
		<a href="/logout"> Logout </a>
	</div>
	<div id="main"><br><br>


	<a href="/uhome"><img class='img-reg' src='static/logo.png'></a>
	<br>
	<h3> Search </h3>
	<form action="/es" method="post" id="main_form">
		<select name="drop">
		<option value="ename">Event Name</option>
		<option value="hname">Host Name</option>
		<option value="tag_name">Tags</option>
		<option value="city">City</option>
		<option value="zip">Zip Code</option>
		<option value="state">State Abbreviation</option>
		<option value="loc_name">Location Name</option>
		</select>
		<br><br>
		{% if error %}
			<p class=error><strong>Error:</strong> {{ error }}
		{% endif %}
		<br>
		<input type = "text" name= "searched" value="" maxlength="100" size="50" class="inputbox" placeholder = "Search for events" />
		<br><br>
		<input type="submit" value="Enter" class = "input_button">


	</form>

	<br><br>
	{% if n %}
	<h4> View events by selecting from the dropdown menu </h4>
	<form action="/uviewev" method="post" id="main_form">
		<select name="drop">
		{% for n in lis %}
			<option value={{n[10]}}>{{n[0]}}</option>
		{% endfor %}
		</select>
		<br><br>
				
		<input type="submit" value="Enter" class = "input_button">


	</form>
	<br><br>
	{% endif %}
	<div>
	   {% for n in lis %}
	   <div>{{n[0]}}</div>
	   <div> Host: {{n[1]}}</div>
	   <div> At: {{n[6]}}</div>
	   <div>{{n[3]}}, {{n[5]}} {{n[4]}}</div>
	   <div> When: {{n[7]}} at {{n[8]}}</div>
	   <div> Type: {{n[11]}}</div>
	   <div> <a href="/uhome"><img class='img-circle' src= {{n[9]}} ></a> </div>
	   <br>
	   {% endfor %}
	</div>


  </div>

</body>


</html>
