<!DOCTYPE html>
  <head>
    	<title>Welcome to EnVENT</title>
	<link rel=stylesheet type="text/css" href="static/styleindex.css?version=17" media="screen" >
  </head>


<body>
  <div id="holder">

	<div id="header">
		<a href="/hhome"> Home </a> |
		<a href="/hsettings"> Account </a> |
	        <a href="/ecreate"> Create New Event </a> |
		<a href="/logout"> Logout </a>
	</div>
	<div id="main"><br><br>
 	

	<a href="/hhome"><img class='img-reg' src='static/logo.png'></a>

  </div>

</body>


</html>
