<!DOCTYPE html>
  <head>
    	<title>Welcome to EnVENT</title>
	<link rel=stylesheet type="text/css" href="static/styleindex.css?version=17" media="screen" >
  </head>


<body>
  <div id="holder">

	<div id="header">
		<a href="/hhome"> Home </a> |
		<a href="/hsettings"> Account </a> |
		<a href="/evcr"> Create Event </a> |
	    <a href="/esearch"> Find Events </a> |
		<a href="/usearch"> Find Users </a> |
		<a href="/logout"> Logout </a>
	</div>
	<div id="main"><br><br>
 	

	<a href="/hhome"><img class='img-reg' src='static/logo.png'></a>

	<div>

	   {% for n in lis %}
	   <div>{{n[0]}}</div>
	   <div> Host: {{n[1]}}</div>
	   {% if n[11] %}
	   <div> At: {{n[5]}} {{n[11]}} {{n[10]}} {{n[12]}} {{n[2]}}, {{n[4]}} {{n[3]}}</div>
	   {% endif %}
	   {% if not n[11] %}
	   <div> At: {{n[5]}} {{n[10]}} {{n[12]}} {{n[2]}}, {{n[4]}} {{n[3]}}</div>
	   {% endif %}
	   <div> When: {{n[6]}} at {{n[7]}}</div>
	   <div> Type: {{n[13]}}</div>
	   <div><img class='img-circle' src= {{n[8]}} ></a> </div>
	   <br><br>
	   {% endfor %}
	</div>

  </div>

  
</body>


</html>
