<!DOCTYPE html>
  <head>
    	<title>EnVENT</title>
	<link rel=stylesheet type="text/css" href="static/styleindex.css?version=15" media="screen" >
  </head>


<body>
  <div id="holder">
	<div id="main"><br><br>

	<img class='img-reg' src='static/logo.png'>
	<br><br><br>
	
	<form action="/uri" method="post" id="main_form">
		{% if error %}
			<p class=error><strong>Error:</strong> {{ error }}
		{% endif %}
		<br>
		<input type = "text" name= "uid" value="" maxlength="100" size="50" class="inputbox" placeholder = "User ID" />
		<br><br>
		<input type = "text" name= "name" value="" maxlength="100" size="50" class="inputbox" placeholder = "Name" />
		<br><br>
		<input type = "password" name= "password" value="" maxlength="100" size="50" class="inputbox" placeholder = "Password" />
		<br><br>
		<input type = "text" name= "loc" value="" maxlength="100" size="50" class="inputbox" placeholder = "City" />
		<br><br>
		<input type="submit" value="Enter" class = "input_button">


	</form>

	</div>
  </div>

</body>


</html>
