<!DOCTYPE html>
  <head>
    	<title>Welcome to EnVENT</title>
	<link rel=stylesheet type="text/css" href="static/styleindex.css?version=17" media="screen" >
  </head>


<body>
  <div id="holder">

	<div id="header">
		<a href="/uhome"> Home </a> |
		<a href="/usettings"> Account </a> |
		<a href="/friends"> Friends </a> |
	    <a href="/esearch"> Find Events </a> |
		<a href="/usearch"> Find Users </a> |
		<a href="/uticks"> My Tickets </a> |
		<a href="/logout"> Logout </a>
	</div>
	<div id="main"><br><br>
 	

	<a href="/uhome"><img class='img-reg' src='static/logo.png'></a>

	<div>

	   {% for n in lis %}
	   <div>{{n[0]}}</div>
	   <div> Host: {{n[1]}}</div>
	   {% if {{n[11]}} %}
	   <div> At: {{n[5]}} {{n[11]}} {{n[10]}} {{n[12]}} {{n[2]}}, {{n[4]}} {{n[3]}}</div>
	   {% endif %}
	   {% if not {{n[11]}} %}
	   <div> At: {{n[5]}} {{n[10]}} {{n[12]}} {{n[2]}}, {{n[4]}} {{n[3]}}</div>
	   {% endif %}
	   <div> When: {{n[6]}} at {{n[7]}}</div>
	   <div> Type: {{n[13]}}</div>
	   <div><img class='img-circle' src= {{n[8]}} ></a> </div>
	   <br>
	   {% endfor %}
	</div>
	<br>
	<a href="/buytick"><u><h4>Buy Tickets</h4></u></a><br>
	<form action="/going" method="post" id="main_form">
	<div class="checkbox">
	{% for n in lis %}
		{% if going %}
			<label><input type="checkbox" id={{n[9]}} name="going" checked="checked" value="yes"}>Going</label><br>
			<br>
		{% endif %}
		{% if not going %}
			<label><input type="checkbox" id={{n[9]}} name="going" value="yes"}>Going</label><br>
			<br>
		{% endif %}
	{% endfor %}
	</div>
		

				
		<input type="submit" value="Submit" class = "input_button">

  </div>

  
</body>


</html>
