<!DOCTYPE html>
  <head>
    	<title>Welcome to EnVENT</title>
	<link rel=stylesheet type="text/css" href="static/styleindex.css?version=17" media="screen" >
  </head>


<body>
  <div id="holder">

	<div id="header">
		<a href="/uhome"> Home </a> |
		<a href="/usettings"> Account </a> |
		<a href="/friends"> Friends </a> |
	    <a href="/esearch"> Find Events </a> |
		<a href="/usearch"> Find Users </a> |
		<a href="/logout"> Logout </a>
	</div>
	<div id="main"><br><br>
 	

	<a href="/uhome"><img class='img-reg' src='static/logo.png'></a>

	<div>

	   {% for n in lis %}
	   <div>{{n[0]}}</div>
	   <div> Location: {{n[1]}}</div>
	   <div> Friends since: {{fs}}</div>
	   <div> Interests: {{inters}}</div>
	   <br>
	   {% endfor %}
	</div>
	<br>
	{% if notfriend %}
	<form action="/addfriend" method="post" id="main_form">
		<input type="submit" value="Add Friend" class = "input_button">
	</form>
	<br><br>
	{% endif %}
	<h3> Events: </h3>
	<div>
	   {% for n in lis2 %}
	   <div>{{n[0]}}</div>
	   <div> Host: {{n[1]}}</div>
	   <div> At: {{n[6]}}</div>
	   <div>{{n[3]}}, {{n[5]}} {{n[4]}}</div>
	   <div> When: {{n[7]}} at {{n[8]}}</div>
	   <div> Type: {{n[10]}}</div>
	   <div> <a href="/uhome"><img class='img-circle' src= {{n[9]}} ></a> </div>
	   <br>
	   {% endfor %}
	</div>

  </div>

</body>


</html>
