<!DOCTYPE html>
  <head>
    	<title>Welcome to EnVENT</title>
	<link rel=stylesheet type="text/css" href="static/styleindex.css?version=15" media="screen" >
  </head>


<body>
  <div id="holder">
	<div id="main"><br><br>

	<img class='img-reg' src='static/logo.png'>
	<br>
	<a href="/userlogin">Login as user</a>
	<br>
	<a href="/hostlogin">Login as host</a>
	<br>
	<a href="/userregister">Register as user</a>
	<br>
	<a href="/hostregister">Register as host</a>
	</div>
  </div>

</body>


</html>
