<!DOCTYPE html>
  <head>
    	<title>Welcome to EnVENT</title>
	<link rel=stylesheet type="text/css" href="static/styleindex.css?version=16" media="screen" >
  </head>


<body>
  <div id="holder">

	<div id="header">
		<a href="/uhome"> Home </a> |
		<a href="/usettings"> Account </a> |
		<a href="/friends"> Friends </a> |
	        <a href="/uesearch"> Find Events </a> |
		<a href="/logout"> Logout </a>
	</div>
	<div id="main"><br><br>

	
	<a href="/uhome"><img class='img-reg' src='static/logo.png'></a>

	<br><br>
	
	<h2> Change account settings </h2> <br>

	<h3> Current settings: </h3>
	<h5> Name: {{name}} </h5>
	<h5> Password: {{pw}} </h5>
	<h5> Location: {{loc}} </h5>
	
	<form action="/usc" method="post" id="main_form">
		{% if error %}
			<p class=error><strong>Error:</strong> {{ error }}
		{% endif %}
		<br>
		<input type = "text" name= "name" value="" maxlength="100" size="50" class="inputbox" placeholder = "Name" />
		<br><br>
		<input type = "password" name= "password" value="" maxlength="100" size="50" class="inputbox" placeholder = "Password" />
		<br><br>
		<input type = "text" name= "loc" value="" maxlength="100" size="50" class="inputbox" placeholder = "City" />
		<br><br>
		<h5> Interests: </h5>
			<div class="checkbox">
			{% for t in seltags %}
				<label><input type="checkbox" id={{t}} name={{t}} checked="checked" value="yes"}>{{t}}</label><br>
			{% endfor %}
			{% for t in tags %}
				<label><input type="checkbox" id={{t}} name={{t}} value="no">{{t}}</label><br>
			{% endfor %}
			</div>
		<br><br>
				
		<input type="submit" value="Enter" class = "input_button">


	</form>
	

  </div>

</body>


</html>
