<!DOCTYPE html>
  <head>
    	<title>Welcome to EnVENT</title>
	<link rel=stylesheet type="text/css" href="static/styleindex2.css?version=1" media="screen" >
  </head>


<body>
  <div id="holder">

	<div id="header">
		<a href="/uhome"> Home </a> |
		<a href="/usettings"> Account </a> |
		<a href="/friends"> Friends </a> |
	    <a href="/esearch"> Find Events </a> |
		<a href="/usearch"> Find Users </a> |
		<a href="/logout"> Logout </a>
	</div>
	<div id="main"><br><br>


	<a href="/uhome"><img class='img-reg' src='static/logo.png'></a>
	<br>
	<h3> Search </h3>
	<form action="/us" method="post" id="main_form">
		<select name="drop">
		<option value="uname">User Name</option>
		<option value="city">City</option>
		</select>
		<br><br>
		{% if error %}
			<p class=error><strong>Error:</strong> {{ error }}
		{% endif %}
		<br>
		<input type = "text" name= "searched" value="" maxlength="100" size="50" class="inputbox" placeholder = "Search for users" />
		<br><br>
		<input type="submit" value="Enter" class = "input_button">


	</form>

  </div>

</body>


</html>
